<!DOCTYPE html>
<html lang="en">
<head>
    
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <style>
       span {color: red}
       body {
        background-color: rgb(60, 249, 60);
       }
       button{
        background-color: red;
       }
       div {
        background-color: aqua;
       
       }
    </style>
</head>
<body>
    <div >
        <form action="/" method="POST" class="sign__form">
            <SPAN>LOGIN PAGE</SPAN>
         

             <div class="sign__group">
                 <input type="text" class="sign__input" name="username" placeholder="Tên đăng nhập">
             </div>

             <div class="sign__group">
                 <input type="password" autocomplete="new-password"  name="password" class="sign__input" placeholder="Mật khẩu">
             </div>
             <button class="sign__btn" type="submit">Đăng nhập</button>
         
         </form>
    </div>
</body>
</html>